.Card-bottom-4 {
    background: var(--Dark-blue);
    height: 90px;
    position: relative;
    top: -15px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 17px;
    padding-right: 17px;
}

.Card-bottom-4 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card-bottom-4 div:first-child {
    margin-bottom: 3px;
}

@media (min-width: 1024px) {
    .Card-bottom-4 {
        height: 150px;
        padding-top: 20px;
    }
    .Card-bottom-4 div:nth-child(2) {
        display: block;
    }
    .text2 {
        display: block;
        font-size: 40px;
    }
    .Card-bottom-4 div:first-child {
        margin-bottom: 10px;
    }
}

@media (min-width: 1440px) {
    .Card-bottom-4 {
        height: 160px;
    }
}