.Card1 {
    width: 80%;
    margin: 0 auto;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.back-work {
    background: var(--Light-red-work);
}

.back-play {
    background: var(--Soft-blue-play);
}

.back-study {
    background: var(--Light-red-study);
}

.back-exercise {
    background: var(--Lime-green-exercise-);
}

.back-social {
    background: var(--Violet-social);
}

.back-self {
    background: var(--Soft-orange-self-care);
}

@media (min-width: 1024px) {
    .Card1 {
        margin-top: 40%;
        height: 60%;
    }
}

.Work-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -10px;
    padding-right: 17px;
}

@media (min-width: 1440px) {
    .Card1 {
        height: 56%;
    }
}