.Card3 {
    background: var(--Light-red-study);
    width: 80%;
    margin: 0 auto;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .Card3 {
        height: 60%;
        margin-top: 40%;
    }
}

.Work-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -10px;
    padding-right: 17px;
}

@media (min-width: 1440px) {
    .Card3 {
        height: 56%;
    }
}